@tailwind base;

@tailwind components;

@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-image: url('./assets/masaaki-komori-1hUsp3zi0rA-unsplash.jpg');
	background-size: cover;
}
#textel1 {
	font-family: "Shadows Into Light", cursive;
}

.card {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
  }
  
  .animate__fadeInUp {
	opacity: 1;
	animation-name: fadeInUp;
	animation-duration: 1s;
  }
  
  @keyframes fadeInUp {
	from {
	  transform: translateY(-30px);
	}
  
	to {
	  transform: translateY(0);
	}
  }
  
